.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 3;
}

.nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 2rem;

  @media screen and (min-width: 768px) {
    padding: 0.5rem 3rem;
  }

  @media screen and (min-width: 1024px) {
    padding: 1rem 3rem;
  }
}

.logo {
  font-family: Gagalin, sans-serif;
  font-size: 1rem;
  color: var(--yellow);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
  text-align: right;
  line-height: 1;

  cursor: pointer;

  @media screen and (min-width: 768px) {
    font-size: 1.3rem;
  }

  @media screen and (min-width: 1024px){
    font-size: 1.5rem;
  }
}

.burger-menu {
  display: none;
  flex-direction: column;
  gap: 5px;
  border: none;
  background: transparent;
  cursor: pointer;
  z-index: 4;
}

.burger-icon {
  width: 25px;
  height: 3px;
  background-color: var(--white);
  transition: 0.3s;
}

.burger-menu:hover .burger-icon {
  background-color: var(--yellow);
}

.nav-menu {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.nav-menu li {
  font-size: 1.4rem;
}

.nav-menu a {
  text-decoration: none;
  color: var(--white);
  transition: color 0.3s ease;
}

.nav-menu a:hover {
  color: var(--yellow);
}

@media screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    top: 0;
    right: 0;
    flex-direction: column;
    width: 200px;
    height: 100%;

    background: rgba(0, 0, 0, 0.8);
    transform: translateX(100%);
    transition: transform 0.3s ease;
  }

  .nav-menu.active {
    transform: translateX(0);
  }

  .burger-menu {
    display: flex;
  }

  .burger-icon:nth-child(1) {
    transform-origin: top left;
  }
  .burger-icon:nth-child(2) {
    opacity: 1;
  }
  .burger-icon:nth-child(3) {
    transform-origin: bottom left;
  }

  .nav-menu li {
    margin: 1rem 0;
    text-align: center;
  }

  .burger-menu.active .burger-icon:nth-child(1) {
    transform: rotate(45deg);
  }

  .burger-menu.active .burger-icon:nth-child(2) {
    opacity: 0;
  }

  .burger-menu.active .burger-icon:nth-child(3) {
    transform: rotate(-45deg);
  }
}
