$yellow: #ffde59;
$white: #ffffff;
$black: #1c1c1c;
$gray-light: #f4f4f4;
$gray-dark: #333333;

:root {
  --black: #{$black};
  --yellow: #{$yellow};
  --white: #{$white};
  --gray-light: #{$gray-light};
  --gray-dark: #{$gray-dark};
}
